﻿* {
    margin: 0px;
    padding: 0px;
    font-style: inherit;
    font-size: 100%;
}

form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;

.first {
    margin: 10px 0px 10px 0px;
}
.first label {
    display: block;
    text-align: left;
    margin: 3px;
}
.first input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
